
{% extends "home/Base.html" %}
{% block content%}
{% load static%}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'Css/about.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="jumbotron">
    <center>
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Hello! There are lots of ways you can work with the Share With Us system</p>
    <p>Starting from downloadin Pdf and geting Audio Books all for free</p>
    <p>we are grateful and proud that you like our work and are a participant</p>
    <hr class="my-4">
    <p>Contact Us:</p>
    
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-snapchat-ghost"></a>

</center>
  </div>
{% endblock content%}